<div class="resume__container">
    <div class="resume__title">Dilip Kushwaha's Resume</div>
    <div class="resume__section basic">Basic</div>
    <div class="resume__section summary">Summary</div>
    <div class="resume__section experience">Experience</div>
    <div class="resume__section">Projects</div>
    <div class="resume__section">Education</div>
</div>